@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
}

@layer components {
    /* todo components */
    .card--marketer{
        border: thin solid var(--border);
        border-radius: 1rem;
    }

    .heading {
        font-size: 2rem;
        font-weight: bold;
        color: var(--secondary);
    }

    .list {
        padding-left: 2rem;
    }
    .list-item {
        padding: 0.5em 0;
    }
    .list-marker--check {
        list-style-image: url(../images/check.svg);
    }
    .list-marker--cross {
        list-style-image: url(../images/cross.svg);
    }

    .btn {
        display: inline-block;
        color: white;
        border-radius: 0.5em;
        text-align: center;
        text-decoration: none;
        padding: 1rem 25%;
        background-color: var(--primary);
        margin: 1em 0;
    }
    .text--primary {
        color: var(--primary);
        font-weight: bold;
    }
    .text--large {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .text--underline {
        text-decoration: underline;
    }
}